<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/mojcss.css">
    
</head>
<body>
    
    
   <div class="ljestvica">
    
        <table class="ljestvica-table">
            <tr>
                <th>Klub</th>
                <th>Bodovi</th>
            </tr>
            <%rows.forEach((row) => {%>
                    
                <tr>
                    <td id="idd"><%= row['team_name'] %> </td>
                    <td id="team1"><%= row['suma'] %></td>
                </tr>
              
            <%});%>
        </table>
   </div>
  
    <script src="server.js"></script>
</body>